In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
path = 'Resources/lending_data.csv'
lending_df = pd.read_csv(path)

# Review the DataFrame
lending_df

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0
...,...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600,1
77532,17700.0,10.662,80900,0.629172,11,2,50900,1
77533,17600.0,10.595,80300,0.626401,11,2,50300,1
77534,16300.0,10.068,75300,0.601594,10,2,45300,1
77535,15600.0,9.742,72300,0.585062,9,2,42300,1

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [3]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = lending_df['loan_status']

# Separate the X variable, the features
X = lending_df.drop(columns=['loan_status'])

In [4]:
# Review the y variable Series
print(y)

0        0
1        0
2        0
3        0
4        0
        ..
77531    1
77532    1
77533    1
77534    1
77535    1
Name: loan_status, Length: 77536, dtype: int64

In [5]:
# Review the X variable DataFrame
print(X)

       loan_size  interest_rate  borrower_income  debt_to_income  \
0        10700.0          7.672            52800        0.431818
1         8400.0          6.692            43600        0.311927
2         9000.0          6.963            46100        0.349241
3        10700.0          7.664            52700        0.430740
4        10800.0          7.698            53000        0.433962
...          ...            ...              ...             ...
77531    19100.0         11.261            86600        0.653580
77532    17700.0         10.662            80900        0.629172
77533    17600.0         10.595            80300        0.626401
77534    16300.0         10.068            75300        0.601594
77535    15600.0          9.742            72300        0.585062

       num_of_accounts  derogatory_marks  total_debt
0                    5                 1       22800
1                    3                 0       13600
2                    3                 0       16100
3                    5                 1       22700
4                    5                 1       23000
...                ...               ...         ...
77531               12                 2       56600
77532               11                 2       50900
77533               11                 2       50300
77534               10                 2       45300
77535                9                 2       42300

[77536 rows x 7 columns]

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [6]:
# Check the balance of our target values
label_counts = y.value_counts()
label_counts

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [7]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1, stratify=y)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [8]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
classifier = LogisticRegression(solver='lbfgs', random_state=1)
classifier

LogisticRegression(random_state=1)

# Fit the model using training data
classifier.fit(X_train,y_train)
LogisticRegression(random_state=1)

LogisticRegression(random_state=1)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [9]:
# Make a prediction using the testing data
predictions = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test})
results.head(10)

       Prediction  Actual
36831           0       0
75818           0       1
36563           0       0
13237           0       0
43292           0       0
68423           0       0
37714           0       0
64870           0       0
47959           0       0
49              0       0

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [10]:
# Print the balanced_accuracy score of the model
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.9924164259182832

In [11]:
# Generate a confusion matrix for the model
from sklearn.metrics import confusion_matrix
test_matrix = confusion_matrix(y_test, predictions)
print(test_matrix)

[[18679    80]
 [   67   558]]

In [12]:
# Print the classification report for the model
from sklearn.metrics import classification_report
testing_report = (classification_report(y_test, predictions))
print(testing_report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     18759
           1       0.87      0.89      0.88       625

    accuracy                           0.99     19384
   macro avg       0.94      0.94      0.94     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The classification report demonstrates that the model performs extremely well for class 0 (healthy loans) with nearly 100% precision and recall. The model also performs very strongly for identifying high-risk loans, with a lower yet still high precision, recall, and F1-score. However, in this analysis it is important to note that there is a wide class imbalance. To break these statistics down further, the high-risk loan's precision of 0.87 indicates that the model correctly predicts that a loan is a high-risk about 87% of the time, whereas 100% of healthy loan predictions are healthy loans. The recall of a high-risk loan shows 89% of the time the model can determine actual samples, while healthy loans can 100% of the time. Both loans have a good balance between precision and recall although the high-risk F1-score is 0.12 lower. Finally, the support shows that the number of occurences of healthy loans was over 30 times more than the frequency of high-risk loans. This shows that the dataset was not balanced, which should be considered in analyzing these statistics. The overall performance and accuracy shows that 99% of the samples in the test data are predicted accurately using this model, the macro average for each class is 94% in precision, recall, and F1-scoring.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [13]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
random_oversampler =  RandomOverSampler(random_state=1)

# Fit the original training data to the random_oversampler model
X_train_resampled, y_train_resampled = random_oversampler.fit_resample(X_train, y_train)

In [14]:
# Count the distinct values of the resampled labels data
count_values = y_train_resampled.value_counts()
print(count_values)

1    56277
0    56277
Name: loan_status, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [15]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
resampled_classifier = LogisticRegression(solver='lbfgs', random_state=1)
resampled_classifier

# Fit the model using the resampled training data
resampled_classifier.fit(X_train_resampled, y_train_resampled)

# Make a prediction using the testing data
resampled_prediction = resampled_classifier.predict(X_test)

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [16]:
# Print the balanced_accuracy score of the model 
resampled_balance = balanced_accuracy_score(y_test, resampled_prediction)
print(resampled_balance)

0.9959744975744975

In [17]:
# Generate a confusion matrix for the model
resampled_confusion_mat = confusion_matrix(y_test, resampled_prediction)

print(resampled_confusion_mat)

[[18668    91]
 [    2   623]]

In [18]:
# Print the classification report for the model
resampled_report = classification_report(y_test, resampled_prediction)
print(resampled_report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     18759
           1       0.87      1.00      0.93       625

    accuracy                           1.00     19384
   macro avg       0.94      1.00      0.96     19384
weighted avg       1.00      1.00      1.00     19384

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** In addressing the class imbalance by oversampling the data and creating more samples for the minority high-risk loan class we can see that the model performed even better. While the statistics of the healthy loan stayed the same at about 100% precision, recall, and f1 scoring, the high-risk loan identification improved recall and it's f1 score. The recall improved by 0.11 and the f1 score rose .06. The overall metrics improved as well reaching higher accuracy, macro avg, and weighted average. Overall the oversampled data classification report showed significant improvement in predicting high-risk loans with a higher recall and f1-score.